.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    align-items: stretch;
    font-size: 10vh;
    background-color: cadetblue;
}


h1,h3{
    display: flex;
    justify-content: center;
}

.Player-Container{
    display: flex;
    justify-content: space-between;
}

.boardCell{
    text-align: center;
    background-color: darkolivegreen;
    /* color: white; */
}

.boardCell:hover{
    cursor: pointer;
}

.boardCellUpdatedBackgroundX
{
    text-align: center;
    color: orange;
    background-color: darkcyan;
}

.boardCellUpdatedBackgroundO{
    text-align: center;
    color: darkorange;
    background-color: darkslategray;
}