.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    align-items: stretch;
    font-size: 10vh;
}


h1,h3{
    display: flex;
    justify-content: center;
}

.Player-Container{
    display: flex;
    justify-content: space-between;
}

.boardCell{
    text-align: center;
}

.boardCell:hover{
    cursor: pointer;
}